
<app-nav></app-nav>
<article id="carrito_div" class="container"  >
    <br>
    <div class="" >
        <button class="btn btn-outline-info" (click)="backToProducts()" >  Volver a Productos</button>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Carrito de compras</h2>
        </div>
        <div class="card-body table-responsive">
            <table id="carrito_table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Accion</th>

                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let producto of productos">
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{formatNumberToCurrency(producto.valor)}}</td>
                        <td><button class="btn btn-outline-danger" (click)="quitarProducto(producto.id)" > Quitar</button></td>
                    </tr>
                </tbody>

            </table>
            <h3 *ngIf="productos.length === 0" id="text_carrito" class="text-center" >Sin productos :(</h3>

        </div>
        <!-- <div class="card-footer">

        </div> -->
    </div>

    
    <div class="">
       
       
    </div>
</article>