
<app-nav></app-nav>

<div *ngIf="!validateFormbool" class="card">
    <form class="row g-3" [formGroup]="validateForm" (ngSubmit)="onSubmit()">

        <div class="card-header">
            <h2>Recupera tu contraseña</h2>
        </div>
        <div class="card-body row">
                <div class="col-md-6">
                    <label for="username" class="form-label">Nombre de Usuario</label>
                    <input type="text" class="form-control" id="username" formControlName="username">
                    <div *ngIf="validateForm.get('username')?.invalid && validateForm.get('username')?.touched">
                        <small class="text-danger">El nombre de usuario es obligatorio.</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                    <div *ngIf="validateForm.get('email')?.invalid && validateForm.get('email')?.touched">
                        <small class="text-danger">El correo es obligatorio.</small>
                    </div>
                </div>            
        </div>
        <div class="card-footer">
            <button type="submit"  class="btn btn-info">Comprobar</button>           
        </div>
    </form>
    
</div>
<div *ngIf="validateFormbool" class="card">
    <form class="row g-3" [formGroup]="recoverPassForm" (ngSubmit)="onSubmitRecover()">

        <div class="card-header">
            <h2>Ingresa nueva contraseña</h2>
        </div>
        <div class="card-body row">
       
                <div class="col-md-6">
                    <label for="pass" class="form-label">Contraseña</label>
                    <input type="pass" class="form-control" id="pass" formControlName="pass">
                    <div *ngIf="recoverPassForm.get('pass')?.invalid && recoverPassForm.get('pass')?.touched">
                        <small class="text-danger">La contraseña es obligatoria.</small>
                    </div>
                </div>            
        </div>
        <div class="card-footer">
            <button type="submit"  class="btn btn-success">Recuperar</button>           
        </div>
    </form>
    
</div>

<div *ngIf="loading" class="spinner">
    <p>Loading...</p>
</div>

<div *ngIf="message" class="message">
    <p>{{ message }}</p>
</div>