<div class="card">
    <div class="card-header">
        <h2>Inicia Sesión</h2>
    </div>
    <div class="card-body">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="username" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="col-md-6">
                <label for="pass" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password">
            </div>                       
        </form>
    </div>
    <div class="card-footer">
        <button type="button" onclick="accederUsuario()" class="btn btn-success">Acceder</button>
    </div>
</div>