<app-nav></app-nav>

<article id="user_form_div" class="container" >

    <div class="card ">
        <div class="card-header">
            <h2>Perfil</h2>
            <h2 class="text-center">{{user.nombres+' '+user.apellidos}}</h2>

            <h4 class="text-center">{{rol.descripcion}}</h4>
        </div>
        <form class="row g-3" [formGroup]="profileForm" (ngSubmit)="update()" >
            <div class="col-md-6">
                <label for="nombres" class="form-label">Nombres</label>
                <input type="text" class="form-control" id="nombres" formControlName="nombres">
            </div>
            <div class="col-md-6">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" formControlName="apellidos">
            </div>
            <div class="col-md-6">
                <label for="username" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control" id="username" formControlName="username">
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="correo">
            </div>
            <div class="col-md-6">
                <label for="pass" class="form-label">Contraseña</label>
                <input type="text" class="form-control" id="pass" formControlName="pass">
            </div>
            <div *ngIf="!thisisfalse" class="col-md-6">
                <label for="rol" class="form-label">ROL</label>
                <input type="text" class="form-control" id="rol" formControlName="rol">
            </div>
            <div class="col-12">
                <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="fecha_nacimiento" formControlName="fecha_nac" >
            </div>
            <div class=" container card-header">
                <h4>Dirección de despacho</h4><p>(Opcional)</p>
                
            </div>
            <div class="col-md-9">
                <label for="direccion" class="form-label">Calle</label>
                <input type="text" class="form-control" id="direccion" formControlName="calle" >
            </div>
            <div class="col-md-3">
                <label for="numeracion" class="form-label">Numeracion</label>
                <input type="text" class="form-control" id="numeracion" formControlName="numeracion" >
            </div>
            <div class="col-md-9">
                <label for="comuna" class="form-label">Comuna</label>
                <select id="comuna" formControlName="comuna" class="form-control" >
                    <option value="" selected disabled>...</option>
                    <option value="santiago">Santiago</option>
                </select>
            </div>
            <div class="card-footer">
                <div class="col-6">
                    <button type="submit" class="btn btn-outline-info">Actualizar</button>
                </div>
                <div class="col-6">
                    <button onclick="limpiarFormulario()" class="btn btn-outline-warning" >Limpiar Formulario</button>
                </div>
            </div>
        </form>
        
    </div>








    
    
</article>