
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" routerLinkActive="active" routerLink="/home" ariaCurrentWhenActive="page">
                <img src="assets/img/log.png" alt="logo_png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/products">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/cart">Carrito</a></li>
                    <li *ngIf="user.rol.id == 1 || user.rol.id == 2" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="admin_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administrador
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="admin_dropdown">
                            <a class="dropdown-item disabled" href="#">Mantenedores</a>
                            <div class="dropdown-divider"></div>
                            <a *ngIf="user.rol.id == 1 || user.rol.id == 2" class="dropdown-item" routerLinkActive="active" routerLink="/adm-products">Producto</a>
                            <a *ngIf="user.rol.id == 1" class="dropdown-item" routerLinkActive="active" routerLink="/adm-users">Usuario</a>
                        </div>
                    </li>
                    <li *ngIf="user.rol.id == 0" class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a></li>
                    <li *ngIf="user.rol.id == 0" class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/register">Registrar</a></li>
                </ul>
                <ul *ngIf="user.rol.id !== 0" id="nav_user" class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.nombres + ' ' + user.apellidos}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a id="rol_text" class="dropdown-item disabled" href="#">{{user.rol.descripcion}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" routerLinkActive="active" routerLink="/profile">Configuración de perfil</a>
                            <a class="dropdown-item" href="#"  onclick="logout()">Cerrar sesión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>